/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/resources/views/layouts/AppAuth
/resources/views/layouts/AppLivewire
/resources/views/layout
/resources/views/responsables/form3
/resources/views/Menu/Cursos_Insc_comm/cursos2
/resources/views/Menu/Cursos_Insc_comm/notas
/resources/views/Menu/Cursos_Insc_comm/create
/resources/views/insc
/resources/views/layout
/resources/views/asoc
/resources/views/pdf-prof
/piblic/js/conf.js
/piblic/js/SelcDinam.js
/piblic/js/SelcDinamiAG.js
/app/Http/Controllers/Livewire/App/Menu
/resources/views/layouts/app2
