/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/resources/views/layouts/AppAuth
/resources/views/layouts/app2
/resources/views/layout
/resources/views/Menu/Cursos_Insc_comm/cursos2
/resources/views/Menu/Cursos_Insc_comm/notas
/resources/views/Menu/Cursos_Insc_comm/create
/resources/views/Admin/Inscrip/pdf
/resources/views/insc
/resources/views/layout
/resources/views/layouts/applogin

/resources/views/asoc
/resources/views/pdf-prof
/resources/views/jsc
/resources/views/attr-livewire

/resources/views/menu
/piblic/css/normalize.css

/piblic/js/conf.js
/piblic/js/SelcDinam.js
/piblic/js/SelcDinamiAG.js


/app/Http/Controllers/Livewire/App/Menu


