header {width: 100%; top:0;   left:0; text-decoration: none; }  
.header {height:12rem; position: fixed;}
.header-2 {height:9rem; position: fixed;}  
li { text-decoration: none; }  		   
/*header {
  width: 100%;
  text-align: center;
  color: white;
  position: fixed;} */
  
.auth{ font-size:1.5rem; display:flex; float:right; margin-right:2%; margin-left:10%;}

video { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;   
  opacity:0.5;
  object-fit: cover;
  object-position: center;
 }

 
.desc{ font-size: 1.5rem; padding: 2%; margin-left:5%; margin-right:10%; text-align: center;} 
		   
.desc-curs{ font-size: 1.5rem; padding: 2%; margin-left:5%; text-align: center;}	   
.desc-curs-no{ font-size: 3rem; padding: 2%; margin-left:5%;  text-align: center;}
		   
.bar-right{ 
	 width:30%;  
	 height:100vh;
	 float:right;
	 padding-right:10px;
	 padding-left:10px;
	 display:block;
	 border-left: 2px inset #BFBFBF;  
	 margin-top:1%; }              
	 
	 
		/* BOTTUN */
.bt-save{ width:100%;margin-top:10%;;}
.bt-canc{ margin-top:5px;}

.container-left{width:100%;}
/*.container-Auth{ width:100%;}		
.container-livew{ }	*/
	
.cont-auth-home{ display:flex;width: 100%; margin-top:1%; }
.cont-2{ display:flex;width: 100%; }	
/*
	width:100%;
	overflow-y: scroll;	
	scroll-behavior: smooth;
	height:100vh;
*/

/*--View  Menu---*/

	/*nosotros*/
.saludo{color:#0000FF; font-size:2rem;}
.nosot{font-size:1.5rem; font-style:oblique; margin-left:5%; margin-right: 5%; text-align:justify; }
.nosot2{font-size:1.3rem; font-style:oblique; margin-left:5%; margin-right: 5%; text-align:justify; }
.nosot3{font-size:1rem; font-style:oblique; margin-left:5%; margin-right: 5%; text-align:justify; }

/*cursos*/

	



.all-scroll{cursor:all-scroll;}"
 .dur-cur{ font-size:1.5rem; font-weight: bold; }            
.edit{ 
	width:60; 
	height:58;}
.email{ 
	color: blue;
	font-weight:bold; 
	font-style:italic;
	font-weight:500;
	font-size:3rem; }
.text-8{font-size: 1rem;}	
.text-10{font-size: 1.2rem;}	
.text-12{font-size: 1.5rem;}	
.text-14{font-size: 1.8rem;}
.text-16{font-size: 2rem;}		

	
.form_new{	
	border: white 8px inset; 
	margin-left:5%; 	
	padding:3%; 
	margin-right:10%;	
	margin-top:3%; 	
	font-weight: bold; }
			
.form_edit{  border: white 8px outset; margin-left:1%;  padding:3%;	margin-right:15%;	margin-top:3%; 	font-weight: bold; }		
footer{width: 100%; background-color: RGBA(0, 0, 0, 0.75); margin-top:2%;}
#footer{height: 8rem; 	bottom: 0; 	color: white;  	padding:0.5%; }		


		

		
.irAtras{	margin-right:5%; width: 90px; height: 100px;}	
.irHome{width: 120px; height: 120px;}
.img-left{ width: 100%; height: 400px; }	
.img-bt-new{  width:130px; height:100px;}
.img-bt-user{  width:50px; height:60px;}
.img-curso{ width:300px; height:250px; }
.img-AddNew{ width:130px; height:150px; margin-left:5%;}
.img-cursoVue{ width:400px; height:280px;}
.img-logoVue{ width:200px; height:150px;}
.img-act{ width:50px; height:50px;}
.inputAuth{padding:30; font-size:20px; font-weight: bold;}
.info{ font-size:1.5rem;background:#C1DFE9; padding:2%; border-radius: 20px;}

 .input-nom{font-size: 1rem; padding-top:1%; width:100%; border-radiu:5%;}
.login{ width:5000px; 	margin-top: 2%; 	float:center;	}
.link-auth{	display:flex; margin-left:80%; font-size:2rem; }
/* acceso con privilegios----*/ 
.link-priv{		
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	margin-left:5px;
	font-size:2rem; 
	
	text-decoration:none;
	color:black;	}
	.link-priv:hover{ color:#FFA500; text-decoration:none; }
.user-auth{ color: #0000FF; font-size:1.5rem; padding-right:10px;}
.auth-name{ color: #E9C80C; font-size:1rem; }
	
.listCurs{  
	height:auto; 
	border-top:2px solid;
	border-color:#BFBFBF;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px; 
	margin-top:1%;
	padding:1%;}
	
.listCursVue{  
}
	
	
.img-priv{ width:20px; height:15px;}


.publicNo{ display:block; margin-right:5%; color: #FF0000; font-size:1.5rem;}	

.publicSi{display:block; margin-right:5%; color: #008000;}

table, th, td {  border: 1px solid black; font-size:1.5rem; }
tr td:last-child{
       width:1%;
       white-space:nowrap;
}
.text-inp{ font-size:1.rem; padding:4%;}

.title{ font-family: fantasy; 
		font-size: 3rem;   
		color: #000066; 
		width: 100%;  
		text-align: center;
		letter-spacing: 2pt;}



.title-curs{color:#2D2D84; font-size:4rem;}
.desc-curs{font-size:2rem;}

.title-2{ font-family: fantasy; 
		font-size: 1.5rem;
		color: #003466;   
		text-align: center;
		letter-spacing: 1pt;}

.tite2{
	color:#FF7A00; 
	font-size: 36px; 
	font-family: fantasy;}	
.tite3{
	font-size: 1.3rem; 
	margin: 5%;
}
.title-op{ color:#BFBFBF; font-size: 2rem;}		
.title-div {border-top:2px solid; border-color:#BFBFBF; width:100%;}
.tex-bt:hover{ 
	color: yellow;  
	text-decoration: none; 
	font-size:1rem;; }
	
.toll{ 
	display:flex; 
	width: 100%;  
	margin:0; 
	top:0; }
.toll-enl{ font-size:1rem; text-align:center;}
.toll-enl-2{ font-size:2rem; text-align:center;margin-left:5%;}


.tool-liv{	width: 100%; margin-right: 2%; margin-left: 2%;}

.tool-table{width: 100%; margin-right:2%;}	
	
.resp{ 
	display:flex;
	font-size:1.3rem;
	padding-left:2%; 
	padding-right:5%;}
.Add-Resp a{ 
	font-size:1.3rem;
	font-weight:bold; 
	color:#FF0000;  }

.salir{ 
	color:red;
	font-size:1.3rem;}
.search-input{ font-weight: bold; font-size:1.5rem; width:100%;}











/*
.TextMenu.act, .TextMenu:active {
	color:#1E90FF; 
} */

/*details summary::-webkit-details-marker {
    background: red;
    color: blue;
    font-size: 30px;
}*/


/*ul {
list-style: none;
padding: 0px;
margin-left: 10px;
}

ul li::before {
content: "\2022";  
color: red; 
display: inline-block; 
padding-right: 10px;
font-size: 50px;
line-height: 25px;
vertical-align: -11px;
width: 15px;
}*/